body {
	text-align: center;
	font-family: 'Jura', 'Galada', cursive;
	background-color: #9CECC5;
	padding-left: 12%;
	padding-right: 12%;

}
ul {
	text-decoration: none;
	list-style-type: none;
	text-align: left;
	margin-left; .5ms;
	text-overflow: hidden;
}
li.inline {
	display: inline;
	padding: 8px;
	font-family: 'Galada', sans-serif;
	position: fixed;

}
