
body {
	margin:8%;
  background-image: url("pBackground.png");
  background-repeat: repeat;
	text-align: center;
}

h1{
	font-size: 3em;
	font-family: "Jura", sans-serif;
	text-align: center;
	color: #FFF;
	background-color: #1a664e;
}

h2, h3, h4, h5, h6, {
	font-family: "Jura", sans-serif;
	text-align: center;
	color: #FFF;
}

p{
	font-family: "Jura", sans-serif;
	text-align: left;
}

.inlined {
	vertical-align: 49%;
}

ul {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: #788D68;
	padding: 12px;
}
nav ul {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: #272E58;
	padding: 12px;
}
.success {
	background: green;
	font-weight: bold;
}
.failure {
	background: red;
	font-weight: lighter;
}
